version: "3"
services:
  console:
    image: nodesource/nsolid-console:gallium-latest
    container_name: nsolid.console
    environment:
      - NODE_DEBUG=nsolid
    ports:
      - 6753:6753
      - 9001:9001
      - 9002:9002
      - 9003:9003
  # app:
  #   image: nodesource/nsolid:gallium-latest
  #   environment:
  #     - NODE_DEBUG=nsolid
  #     - NSOLID_APPNAME=in_docker
  #     - NSOLID_COMMAND=console:9001
  #     - NSOLID_DATA=console:9002
  #     - NSOLID_BULK=console:9003
