version: "2"
services:
  storage:
    image: nodesource/nsolid-storage:boron-latest
    container_name: nsolid.storage
    ports:
      - 4000:4000
      - 9001:9001
      - 9002:9002
      - 9003:9003
    environment:
      - NODE_DEBUG=nsolid
  console:
    image: nodesource/nsolid-console:boron-latest
    container_name: nsolid.console
    environment:
      - NODE_DEBUG=nsolid
      - NSOLID_CONSOLE_STORAGE_URL=https://storage:4000
    links:
      - storage
    ports:
      - 6753:6753
  # app:
  #   image: nodesource/nsolid:boron-latest
  #   environment:
  #     - NODE_DEBUG=nsolid
  #     - NSOLID_APPNAME=in_docker
  #     - NSOLID_COMMAND=storage:9001
  #     - NSOLID_DATA=storage:9002
  #     - NSOLID_BULK=storage:9003
