storage:
  image: nodesource/nsolid-storage
  container_name: storage
  ports:
    - 4000:4000
    - 9001:9001
    - 9002:9002
    - 9003:9003
  environment:
    - NODE_DEBUG=nsolid
  net: "nsolid"
console:
  image: nodesource/nsolid-console
  container_name: console
  environment:
    - NODE_DEBUG=nsolid
    - NSOLID_CONSOLE_STORAGE_URL=https://storage:4000
  net: "nsolid"
  ports:
    - 3000:3000
app:
  net: "nsolid"
  image: nodesource/nsolid:argon
  environment:
    - NODE_DEBUG=nsolid
    - NSOLID_APPNAME=in_docker
    - NSOLID_COMMAND=storage:9001
    - NSOLID_DATA=storage:9002
    - NSOLID_BULK=storage:9003
